<!DOCTYPE html>

<html>
<head>
<title>
명대사 찾기</title>
<style>
body {backgeound-color : mistyrodw;}
h3{ color : puple;}
<hr class=1>{ border : 5px solid yellowgreen;}
<hr class=2>{ border : 1px solid black;}
span{ color : blue; font-size : 20px;}
</style>

</head>
<h3>명대사찾기 page7</h3>
<hr class=1>

<form method="POST" action="comments.php">
Search<input name="name" type="text" size="40"><br>
<script>
for(i=0;i<5;i++){
document.write("<H3> ◎test</H3><p>");
document.write("<H5> ●test</H5><p>");
document.write("<H5> ●text</H5><p>");
document.write("<HR><p>");
}
</script>
<a class="numbox" href="/">
<input type="button" value="1">
</a>
<a class="numbox" href="/2">
<input type="button" value="2">
</a>
<a class="numbox" href="/3">
<input type="button" value="3">
</a>
<a class="numbox" href="/4">
<input type="button" value="4">
</a>
<a class="numbox" href="/5">
<input type="button" value="5">
</a>
<a class="numbox" href="/6">
<input type="button" value="6">
</a>


</body>
</html>


