<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="practice.css" type="text/css">
  </head>
    <body>
    <div class="search-overlay"></div>
      <div class="scroll-cont">
        <div class="content">
          <div class="search">
            <div class="search__bg"></div>
            <div class="search__box">
              <input type="text" id="search" class="search__input" placeholder="Search" onkeypress="if(window.event.keyCode==13){test()}"/>
              <script>
                function test(){
                  var x = document.getElementById("search").value;
                  window.location.href=x;
                }
              </script>
              <div class="search__line"></div>
              <div class="search__close"></div>
            </div>
          </div>
        <p class="desc">테스트</p>
      </div>
    </div>
    <script type="text/javascript" src="practice.js"></script>
  </body>
</html> 